body {
  font-family: 'Poppins', sans-serif, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}

.fade-bottom {
  mask-image: linear-gradient(to top, transparent, black 50%);
  -webkit-mask-image: linear-gradient(to top, transparent, black 50%);
}

.fade-in {
    animation: fadeIn 3s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
}
}

#greeting, #pangalan, #cta {
  opacity: 0;
}

.hidden-menu {
  transform: translateX(100%);
}

.hidden-main-menu {
  transform: translateY(-100%);
}

@keyframes draw {
  to { stroke-dashoffset: 0; }
}

.traveling-underline {
  position: absolute;
  bottom: 24px;
  height: 2px;
  background-color: #bfbfc5; /* gray-400 */
  transition: left 0.3s ease, width 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.mobile-nav-link {
  transition: font-size 0.3s ease, color 0.3s ease;
}

.mobile-nav-link.active-section {
  font-size: 3rem; 
  color: #000;
  font-weight: bold;
}

.loader-svg path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: draw 0.6s linear infinite;
}

@media (min-width: 1800px) {
  .show-3xl {
    display: block !important;
  }
}

/* dark mode properties */
header.dark-mode, #home.dark-mode, #about.dark-mode, #projects.dark-mode, body.dark-mode, #contact.dark-mode, #philosopy.dark-mode, #menu.dark-mode {
  background-color: #111827; /* gray-900 */
}

#project.dark-mode {
  background-color: #111827;
  box-shadow: 
    0 4px 6px -1px rgba(255, 255, 255, 0.15),
    0 2px 4px -2px rgba(255, 255, 255, 0.15);
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#project.dark-mode:hover {
  box-shadow: 
    0 20px 30px -5px rgba(255, 255, 255, 0.25),
    0 8px 12px -6px rgba(255, 255, 255, 0.2);
}

#pangalan.dark-mode, h2.dark-mode {
  color: #c8cfd1; 
}

.nav-link.dark-mode, .mobile-nav-link.dark-mode, p.dark-mode, h3.dark-mode, h4.dark-mode {
  color: #9ca2ae; 
}

.mobile-nav-link.dark-mode:hover {
  color: white;
}

.mobile-nav-link.active-section.dark-mode {
  color: white;
}

.cta-dark.dark-mode {
  background-color: #c8cfd1; 
  color: #111827; /* gray-900 */
}

.cta-dark.dark-mode:hover {
  background-color: #111827; /* gray-900 */
  color: #c8cfd1; 
  border-color: #c8cfd1;
}

#portrait.dark-mode {
  display: none;
}

#portrait-dark.dark-mode {
  display: block;
}

#form-field.dark-mode {
  background-color: #111827; /* gray-900 */
  color: #c8cfd1; 
  border: 1px solid #464d58; 
}

#cta-light.dark-mode {
  background-color: #111827; /* gray-900 */
  color: #c8cfd1; 
  border: 1px solid #c8cfd1; 
}

#cta-light.dark-mode:hover {
  background-color: #c8cfd1; 
  color: #111827; /* gray-900 */
}

#backend.dark-mode, #frontend.dark-mode, #others.dark-mode, #linkedIn.dark-mode, #git.dark-mode, #insta.dark-mode {
  display: none;
}

#backend1.dark-mode, #frontend1.dark-mode, #others1.dark-mode, #linkedIn1.dark-mode, #git1.dark-mode, #insta1.dark-mode {
  display: inline-block;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  display: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent;
}

/* animate on scroll */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}