body {
  font-family: "Poppins", sans-serif, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto;
}

.fade-bottom {
  mask-image: linear-gradient(to top, transparent, black 50%);
  -webkit-mask-image: linear-gradient(to top, transparent, black 50%);
}

.fade-in {
  animation: fadeIn 3s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#greeting,
#pangalan,
#cta,
#scrollIndicator {
  opacity: 0;
}

.hidden-menu {
  transform: translateX(100%);
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.hidden-main-menu {
  transform: translateY(-100%);
}

#header {
  transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.traveling-underline {
  position: absolute;
  bottom: 24px;
  height: 2px;
  background-color: #bfbfc5; /* gray-400 */
  transition: left 0.6s cubic-bezier(0.25, 0.8, 0.25, 1),
    width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1),
    opacity 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}

.mobile-nav-link {
  transition: font-size 0.3s ease, color 0.3s ease;
}

.mobile-nav-link.active-section {
  font-size: 3rem;
  color: #000;
  font-weight: bold;
}

.loader-svg path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: draw 0.6s linear infinite;
}

@media (min-width: 1800px) {
  .show-3xl {
    display: block !important;
  }
}

/* dark mode properties */
header.dark-mode,
#home.dark-mode,
#about.dark-mode,
#projects.dark-mode,
body.dark-mode,
#contact.dark-mode,
#philosopy.dark-mode,
#menu.dark-mode {
  background-color: #111827; /* gray-900 */
}

#project.dark-mode {
  background-color: #111827;
  box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.15),
    0 2px 4px -2px rgba(255, 255, 255, 0.15);
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#project.dark-mode:hover {
  box-shadow: 0 20px 30px -5px rgba(255, 255, 255, 0.25),
    0 8px 12px -6px rgba(255, 255, 255, 0.2);
}

#pangalan.dark-mode,
h2.dark-mode {
  color: #c8cfd1;
}

.nav-link.dark-mode,
.mobile-nav-link.dark-mode,
p.dark-mode,
h3.dark-mode,
h4.dark-mode {
  color: #9ca2ae;
}

.mobile-nav-link.dark-mode:hover {
  color: white;
}

.mobile-nav-link.active-section.dark-mode {
  color: white;
}

.cta-dark.dark-mode {
  background-color: #c8cfd1;
  color: #111827; /* gray-900 */
}

.cta-dark.dark-mode:hover {
  background-color: #111827; /* gray-900 */
  color: #c8cfd1;
  border-color: #c8cfd1;
}

#portrait.dark-mode {
  display: none;
}

#portrait-dark.dark-mode {
  display: block;
}

#form-field.dark-mode {
  background-color: #111827; /* gray-900 */
  color: #c8cfd1;
  border: 1px solid #464d58;
}

#cta-light.dark-mode {
  background-color: #111827; /* gray-900 */
  color: #c8cfd1;
  border: 1px solid #c8cfd1;
}

#cta-light.dark-mode:hover {
  background-color: #c8cfd1;
  color: #111827; /* gray-900 */
}

#backend.dark-mode,
#frontend.dark-mode,
#others.dark-mode,
#linkedIn.dark-mode,
#git.dark-mode,
#insta.dark-mode {
  display: none;
}

#backend1.dark-mode,
#frontend1.dark-mode,
#others1.dark-mode,
#linkedIn1.dark-mode,
#git1.dark-mode,
#insta1.dark-mode {
  display: inline-block;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  display: none;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent;
}

/* animate on element scroll - downward, smooth cubic easing */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1.3s cubic-bezier(0.25, 0.8, 0.25, 1),
    transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

/* form confirmation animation */
@keyframes slide-in {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.7s cubic-bezier(0.65, 0, 0.35, 1) forwards;
  opacity: 1;
}

#form-message {
  transition: opacity 1s ease;
  min-height: 2.5rem;
}

#outward-arrow {
  color: #9ca2ae;
}

/* Animation for the mouse wheel */
@keyframes smoothScroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  40% {
    transform: translateY(8px);
    opacity: 1;
  }
  80% {
    transform: translateY(12px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

.scroll-wheel-dot {
  animation: smoothScroll 2s infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fade-transition {
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.mouse-shape {
  width: 22px;
  height: 36px;
  border: 2px solid #9ca3af;
  border-radius: 9999px;
  position: relative;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  background: radial-gradient(
    circle at 50% 20%,
    rgba(255, 255, 255, 0.1),
    rgba(156, 163, 175, 0.05)
  );
}

.scroll-track {
  width: 2px;
  height: 10px;
  background-color: transparent;
  position: absolute;
  top: 9px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.wheel-dot {
  width: 2px;
  height: 3px;
  background-color: #9ca3af;
  border-radius: 1px;
}

/* tool tip */
.tooltip {
  position: absolute;
  top: -2.5rem;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  background-color: white;
  border: 2px solid #4b5563;
  color: #4b5563;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.025em;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    transform 0.3s ease-in-out;
  z-index: 10;
}

.tooltip.dark-mode {
  background-color: #111827;
  color: #9ca3af;
  border: 2px solid #9ca3af;
}

.tooltip::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0.5rem 0.5rem 0 0.5rem;
  border-color: #4b5563 transparent transparent transparent;
  border-style: solid;
}

.tooltip.dark-mode::after {
  border-color: #9ca3af transparent transparent transparent;
}

.relative:hover .tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0px);
}
